@import 'color';
@import 'font';
@import 'variable';
@import 'button';

.flex {
   display: flex;
}

.f-column {
   flex-direction: column;
}

.container {
   max-width: 1360px;
   padding-left: 30px;
   padding-right: 30px;
   margin-left: auto;
   margin-right: auto;
}